<!DOCTYPE html>{% load cms_tags menu_tags sekizai_tags static i18n favtags %}{% spaceless %}
    <html lang="{{ LANGUAGE_CODE }}">
        <head>
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            {% block meta %}
                <meta name="description" content="{% page_attribute meta_description %}"/>
                <meta property="og:type" content="website"/>
                <meta property="og:title" content="{% page_attribute "page_title" %}"/>
                <meta property="og:description" content="{% page_attribute meta_description %}"/>
            {% endblock meta %}
            {% block canonical_url %}
                <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
                <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
            {% endblock canonical_url %}
            {% block fb_meta %}{% endblock fb_meta %}
            <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
            {% place_favicon %}
            <script src="{% static 'htmx/1.9.2/htmx.min.js' %}"></script>
            <script src="{% static 'jquery/3.6.4/jquery-3.6.4.min.js' %}"></script>
            <link href="{% static 'bootstrap/5.2.3/bootstrap.min.css' %}" rel="stylesheet">
            <script src="{% static 'bootstrap/5.2.3/bootstrap.bundle.min.js' %}"></script>
            {% block base_css %}{% endblock %}
{% endspaceless %}{% render_block 'css' %}{% spaceless %}
    {% block page_head %}{% endblock %}
    {% static_placeholder "Head" %}
    </head>
    <body {% block body_attrs %}{% endblock %} hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% endspaceless %}{% cms_toolbar %}{% spaceless %}

    {% block content %}
        {% placeholder "Content" %}
    {% endblock content %}

    {% static_placeholder "Footer" %}
    {% include 'htmx/htmx_modal.html' %}

    {% block base_js %}{% endblock %}
{% endspaceless %}{% render_block 'js' %}{% spaceless %}
    {% block end_js %}{% endblock %}
    {% block bottom_css %}{% endblock %}
    </body>
    </html>{% endspaceless %}
